<nav class="navigation-bar">
    <!-- The Cooking App title image -->
      <img src="assets\coollogo_com-475353.png" alt="Cooking App Title Image" class="cooking-app-title">

      <!-- Navigation links -->
      <a routerLink="/home" class="nav-link">Home</a>
      <span class="nav-separator">|</span>
      <a routerLink="/login" class="nav-link">Login</a>
      <span class="nav-separator">|</span>
      <a routerLink="/recipe-detail" class="nav-link">Recipe Detail</a>
      <span class="nav-separator">|</span>
      <a routerLink="/favorites" class="nav-link">Favorites</a>
    
  </nav>